<%= if @game != nil do %>
  <p>Game ID: <%= @game.id %></p>

  <div id="this_player">
    <p>This player: <%= @this_player %></p>
  </div>

  <div id="other_player">
    <%= if other_player(@game, @this_player) == nil do %>
      <p>Invite another player (send them this link): <span><%= Routes.game_url(@socket, :index, @game.id) %></span> </p>
    <% else %>
      <p>Other player: <%= other_player(@game, @this_player) %></p>
    <% end %>
  </div>
<% end %>
